/* .loginBtn{
    height: 40px;
    background-color: #E70000;;
    color: white;
    width: 260px;
    border-radius: 5px;
}
.loginForm{
    height: 500px;
}

.input.autofill{
    background-color: white;
} */