.actionDiv{
    height: 100px;
    width: 200px;
    display: grid;
    border-radius: 5px;
}

.actionBtn{
    height: 40px;
    width: 200px;
    display: inline-flex;
    background-color: white;
    padding: 5px;
    border: none;
}

.actionBtn:hover{
   background-color: #DCEED1;
}

.view-icon{
   color: #6200EE;
}

.edit-icon{
    color: #E48C23;
}

.delete-icon{
   color: #E70000;
}